@theme {
  
  --animate-slow-spining: slowSpining 30s linear infinite;
  --animate-rotate-border: rotateBorder 3s linear infinite;

  @keyframes slowSpining {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotateBorder {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(-360deg) }
  }
}