.swal2-container {
  .ec-alert {
    &.swal2-popup {
      @apply bg-gray-100 ring-1 ring-gray-300
    }
    .swal2-title {
      @apply text-gray-900 text-lg
    }
    .swal2-html-container {
      @apply text-gray-600
    }
    .swal2-confirm {
      background: theme('colors.green.500') !important;
    }
    .swal2-cancel {
      background: theme('colors.white') !important;
      color: theme('colors.green.500') !important;
      border: 1px solid theme('colors.gray.500') !important;
    }

    &.error {
      .swal2-confirm {
        background: theme('colors.red.500') !important;
      }
    }
    &.warning {
      .swal2-confirm {
        background: theme('colors.amber.500') !important;
      }
    }
    &.success {
      .swal2-confirm {
        background: theme('colors.primary.500') !important;
      }
    }
  }
}